*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0a07;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: rgba(251, 255, 254, 0.8) !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

#nav-title > a {
  text-decoration: none;
  color: #0b0a07;
  font-size: 24px;
  font-family: "Rubik Iso", cursive;
}

#nav-pages {
  justify-content: flex-end;
  gap: 80px;
}

#nav-pages > a {
  text-decoration: none;
  color: #0b0a07;
}
